@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

.hero-section {
    background: #23C809;
    color: white;
    padding: 30px;
}

.navbar-custom {
    background-color: #147005;
}

.navbar-brand {
    font-weight: bold;
}

.contenedor-imagen {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    margin: 30px 0;
}

.h2{
	color: #23C809;
}

.foot{
	background-color: #147005;
}